.page {
  width: 100%;
}
.nav {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 200px;
  background-color: blue;
  font-family: Georgia, serif;
  color: white;
}
.logo {
  position: absolute;
  top: 20px;
  left: 20px;
  background-color: blue;
}
.name {
  position: absolute;
  top: 50px;
  left: 350px;
  font-size: 40px;
}
.nav-bar {
  position: absolute;
  right: 50px;
  top: 100px;
  font-size: 20px;
}
.navs {
  width: 400px;
  position: absolute;
  top: 50px;
  right: -100px;
}
.nav1 {
  color: white;
  text-decoration: none;
  margin: 10px;
  transition: color 0.2s linear;
  display: inline-block;
}
.nav1::after {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  display: none;
  background-color: white;
}
.nav1:hover {
  color: white;
}
.nav1:hover::after {
  display: block;
}
.item1 {
  max-width: 100%;
  height: 500px;
}
.img1 {
  position: absolute;
  top: 250px;
  left: 100px;
  width: 400px;
  height: 400px;
}
.badge1 {
  position: absolute;
  top: 280px;
  right: 250px;
  font-family: Georgia, serif;
  font-size: 30px;
}

.img2 {
  position: absolute;
  top: 700px;
  right: 50px;
  width: 400px;
  height: 400px;
}
.badge2 {
  position: absolute;
  top: 680px;
  left: 150px;
  width: 600px;
  font-family: Georgia, serif;
  font-size: 28px;
}
.img3 {
  position: absolute;
  top: 1200px;
  left: 50px;
  width: 400px;
  height: 400px;
}
.badge3 {
  position: absolute;
  top: 1200px;
  right: 100px;
  width: 600px;
  font-family: Georgia, serif;
  font-size: 27px;
}
.img4 {
  position: absolute;
  top: 1700px;
  right: 50px;
  width: 400px;
  height: 400px;
}
.badge4 {
  position: absolute;
  top: 1720px;
  left: 150px;
  width: 600px;
  font-family: Georgia, serif;
  font-size: 30px;
}
.footer {
  position: absolute;
  top: 2200px;
  left: 0px;
  width: 100%;
  height: 500px;
  background-color: blue;
  color: white;
  font-family: Georgia, serif;
}
.contacts {
  position: absolute;
  top: 100px;
  left: 150px;
  font-size: 40px;
}
.caller_icon {
  position: absolute;
  top: 190px;
  left: 70px;
  width: 40px;
  height: 40px;
}
.phone {
  position: absolute;
  top: 190px;
  left: 130px;
  font-size: 25px;
}
.email_icon {
  position: absolute;
  top: 250px;
  left: 70px;
  width: 40px;
  height: 40px;
}
.email {
  position: absolute;
  top: 250px;
  left: 140px;
  font-size: 25px;
}
.social {
  position: absolute;
  top: 100px;
  left: 570px;
  font-size: 40px;
}
.instagram_icon {
  position: absolute;
  top: 190px;
  left: 610px;
  width: 40px;
  height: 40px;
}
.instagram {
  position: absolute;
  top: 190px;
  left: 670px;
  font-size: 25px;
}
.facebook_icon {
  position: absolute;
  top: 250px;
  left: 610px;
  width: 40px;
  height: 40px;
}
.facebook {
  position: absolute;
  top: 250px;
  left: 670px;
  font-size: 25px;
}
.address {
  position: absolute;
  top: 100px;
  right: 200px;
  font-size: 40px;
}
.location_icon {
  position: absolute;
  top: 200px;
  right: 360px;
  width: 40px;
  height: 40px;
}
.location {
  position: absolute;
  right: 13px;
  top: 95px;
  font-size: 25px;
  width: 300px;
}
@media screen and (max-width: 800px) {
  .page {
    max-width: 100%;
  }
  .logo {
    width: 50px;
    height: 50px;
    position: absolute;
    left: 10px;
    top: 10px;
  }
  .name {
    font-size: 35px;
    position: absolute;
    top: 50px;
    left: 350px;
  }
  .navs {
    position: absolute;
    top: 50px;
    right: -10px;
  }
  .img1 {
    width: 250px;
    height: 250px;
  }
  .badge1 {
    font-size: 15px;
    position: absolute;
    right: 120px;
    top: 280px;
  }
  .item1 {
    width: 100%;
    height: 1000px;
    flex-direction: column;
  }
  .img2 {
    width: 250px;
    height: 250px;
    position: absolute;
    top: 550px;
    right: 100px;
  }
  .badge2 {
    width: 300px;
    font-size: 15px;
    position: absolute;
    left: 100px;
    top: 550px;
  }
  .badge3 {
    position: absolute;
    top: 950px;
    right: -200px;
    font-size: 15px;
  }
  .img3 {
    width: 250px;
    height: 250px;
    position: absolute;
    left: 100px;
    top: 900px;
  }
  .img4 {
    width: 250px;
    height: 250px;
    position: absolute;
    top: 1250px;
    right: 100px;
  }
  .badge4 {
    width: 300px;
    position: absolute;
    top: 1280px;
    left: 100px;
    font-size: 15px;
  }
  .footer {
    position: absolute;
    top: 1600px;
    left: 0px;
    height: 1000px;
  }
  .contact {
    position: absolute;
    top: 50px;
    left: 200px;
    width: 400px;
    height: 200px;
  }
  .social {
    position: absolute;
    top: 400px;
    left: 300px;
  }
  .insta {
    position: absolute;
    top: 300px;
    left: -250px;
  }
  .facebooks {
    position: absolute;
    top: 320px;
    left: -250px;
  }
  .addresses {
    position: absolute;
    top: 600px;
    left: 700px;
  }
  .location {
    position: absolute;
    top: 395px;
    left: 175px;
  }
}
@media screen and (max-width: 320px) {
}
